@layer components {
  .fri-avatar {
    --avatar-size: calc(var(--fri-spacing-xsmall) * var(--avatar-units, 12));
    --avatar-overlap: calc(var(--avatar-size) / -4);

    @apply relative inline-flex size-(--avatar-size) shrink-0 items-center justify-center overflow-hidden align-middle select-none;
  }

  .fri-avatar-xs {
    --avatar-units: 6;
  }
  .fri-avatar-sm {
    --avatar-units: 9;
  }
  .fri-avatar-md {
    --avatar-units: 12;
  }
  .fri-avatar-lg {
    --avatar-units: 16;
  }
  .fri-avatar-xl {
    --avatar-units: 20;
  }
  .fri-avatar-2xl {
    --avatar-units: 28;
  }

  .fri-avatar-square {
    @apply rounded-none;
  }
  .fri-avatar-radius {
    --avatar-radius: calc(var(--fri-box-radius) * var(--avatar-units, 12) / 12);

    @apply rounded-(--avatar-radius);
  }
  :where(.fri-avatar),
  .fri-avatar-full {
    @apply rounded-full;
  }

  .fri-avatar-disabled {
    @apply status-disabled;
  }

  .fri-avatar-image {
    @apply size-full object-cover;
  }

  .fri-avatar-fallback {
    --avatar-fallback-text: calc(var(--avatar-size) / 2.5);

    @apply flex size-full items-center justify-center bg-surface text-(length:--avatar-fallback-text) font-medium text-foreground;
  }

  .fri-avatar-group {
    --avatar-ring-width: 2px;

    @apply isolate flex;
  }

  .fri-avatar-group-xs {
    --avatar-units: 6;
  }
  .fri-avatar-group-sm {
    --avatar-units: 9;
  }
  :where(.fri-avatar-group),
  .fri-avatar-group-md {
    --avatar-units: 12;
  }
  .fri-avatar-group-lg {
    --avatar-units: 16;
  }
  .fri-avatar-group-xl {
    --avatar-units: 20;
  }
  .fri-avatar-group-2xl {
    --avatar-units: 28;
  }

  .fri-avatar-group > .fri-avatar {
    @apply ring-(length:--avatar-ring-width) ring-background;
  }

  .fri-avatar-group > .fri-avatar + .fri-avatar {
    @apply ms-(--avatar-overlap);
  }

  .fri-avatar-group-first-on-top > .fri-avatar:nth-child(1) {
    @apply z-50;
  }
  .fri-avatar-group-first-on-top > .fri-avatar:nth-child(2) {
    @apply z-40;
  }
  .fri-avatar-group-first-on-top > .fri-avatar:nth-child(3) {
    @apply z-30;
  }
  .fri-avatar-group-first-on-top > .fri-avatar:nth-child(4) {
    @apply z-20;
  }
  .fri-avatar-group-first-on-top > .fri-avatar:nth-child(5) {
    @apply z-10;
  }

  .fri-avatar-group-ringless > .fri-avatar {
    @apply ring-0;
  }
}
