@layer components {
  .fri-button {
    --button-h: calc(var(--fri-spacing-xsmall) * var(--_button-n));
    --button-px: calc(var(--button-h) / 2 - var(--fri-spacing-xsmall));
    --button-spinner-size: calc(var(--button-h) / 2);
    --button-radius: calc(var(--fri-action-radius) * var(--_button-n) / 10);

    @apply relative inline-flex h-(--button-h) w-fit shrink-0 cursor-(--fri-cursor-interactive) items-center justify-center gap-small rounded-(--button-radius) border-(length:--fri-border-width) border-(--button-border-color) bg-(--button-background) px-(--button-px) whitespace-nowrap text-(--button-foreground) transition-base transition-[background-color,box-shadow,outline-color] outline-none select-none;
  }

  :where(.fri-button),
  .fri-button-primary {
    --button-color: var(--fri-primary);
    --button-color-foreground: var(--fri-primary-foreground);
    --button-color-secondary: var(--fri-primary-secondary);
    --button-color-secondary-foreground: var(
      --fri-primary-secondary-foreground
    );
    --button-color-hover: var(--fri-primary-hover);
    --button-color-pressed: var(--fri-primary-pressed);
    --button-color-secondary-hover: var(--fri-primary-secondary-hover);
    --button-color-secondary-pressed: var(--fri-primary-secondary-pressed);
    --button-color-border: var(--fri-primary-border);
    --button-color-outline-border: var(--fri-primary-outline-border);
    --button-color-tint-hover: var(--fri-primary-tint-hover);
    --button-color-tint-pressed: var(--fri-primary-tint-pressed);
  }
  .fri-button-secondary {
    --button-color: var(--fri-secondary);
    --button-color-foreground: var(--fri-secondary-foreground);
    --button-color-secondary: var(--fri-secondary-secondary);
    --button-color-secondary-foreground: var(
      --fri-secondary-secondary-foreground
    );
    --button-color-hover: var(--fri-secondary-hover);
    --button-color-pressed: var(--fri-secondary-pressed);
    --button-color-secondary-hover: var(--fri-secondary-secondary-hover);
    --button-color-secondary-pressed: var(--fri-secondary-secondary-pressed);
    --button-color-border: var(--fri-secondary-border);
    --button-color-outline-border: var(--fri-secondary-outline-border);
    --button-color-tint-hover: var(--fri-secondary-tint-hover);
    --button-color-tint-pressed: var(--fri-secondary-tint-pressed);
  }
  .fri-button-accent {
    --button-color: var(--fri-accent);
    --button-color-foreground: var(--fri-accent-foreground);
    --button-color-secondary: var(--fri-accent-secondary);
    --button-color-secondary-foreground: var(--fri-accent-secondary-foreground);
    --button-color-hover: var(--fri-accent-hover);
    --button-color-pressed: var(--fri-accent-pressed);
    --button-color-secondary-hover: var(--fri-accent-secondary-hover);
    --button-color-secondary-pressed: var(--fri-accent-secondary-pressed);
    --button-color-border: var(--fri-accent-border);
    --button-color-outline-border: var(--fri-accent-outline-border);
    --button-color-tint-hover: var(--fri-accent-tint-hover);
    --button-color-tint-pressed: var(--fri-accent-tint-pressed);
  }
  .fri-button-info {
    --button-color: var(--fri-info);
    --button-color-foreground: var(--fri-info-foreground);
    --button-color-secondary: var(--fri-info-secondary);
    --button-color-secondary-foreground: var(--fri-info-secondary-foreground);
    --button-color-hover: var(--fri-info-hover);
    --button-color-pressed: var(--fri-info-pressed);
    --button-color-secondary-hover: var(--fri-info-secondary-hover);
    --button-color-secondary-pressed: var(--fri-info-secondary-pressed);
    --button-color-border: var(--fri-info-border);
    --button-color-outline-border: var(--fri-info-outline-border);
    --button-color-tint-hover: var(--fri-info-tint-hover);
    --button-color-tint-pressed: var(--fri-info-tint-pressed);
  }
  .fri-button-success {
    --button-color: var(--fri-success);
    --button-color-foreground: var(--fri-success-foreground);
    --button-color-secondary: var(--fri-success-secondary);
    --button-color-secondary-foreground: var(
      --fri-success-secondary-foreground
    );
    --button-color-hover: var(--fri-success-hover);
    --button-color-pressed: var(--fri-success-pressed);
    --button-color-secondary-hover: var(--fri-success-secondary-hover);
    --button-color-secondary-pressed: var(--fri-success-secondary-pressed);
    --button-color-border: var(--fri-success-border);
    --button-color-outline-border: var(--fri-success-outline-border);
    --button-color-tint-hover: var(--fri-success-tint-hover);
    --button-color-tint-pressed: var(--fri-success-tint-pressed);
  }
  .fri-button-warning {
    --button-color: var(--fri-warning);
    --button-color-foreground: var(--fri-warning-foreground);
    --button-color-secondary: var(--fri-warning-secondary);
    --button-color-secondary-foreground: var(
      --fri-warning-secondary-foreground
    );
    --button-color-hover: var(--fri-warning-hover);
    --button-color-pressed: var(--fri-warning-pressed);
    --button-color-secondary-hover: var(--fri-warning-secondary-hover);
    --button-color-secondary-pressed: var(--fri-warning-secondary-pressed);
    --button-color-border: var(--fri-warning-border);
    --button-color-outline-border: var(--fri-warning-outline-border);
    --button-color-tint-hover: var(--fri-warning-tint-hover);
    --button-color-tint-pressed: var(--fri-warning-tint-pressed);
  }
  .fri-button-danger {
    --button-color: var(--fri-danger);
    --button-color-foreground: var(--fri-danger-foreground);
    --button-color-secondary: var(--fri-danger-secondary);
    --button-color-secondary-foreground: var(--fri-danger-secondary-foreground);
    --button-color-hover: var(--fri-danger-hover);
    --button-color-pressed: var(--fri-danger-pressed);
    --button-color-secondary-hover: var(--fri-danger-secondary-hover);
    --button-color-secondary-pressed: var(--fri-danger-secondary-pressed);
    --button-color-border: var(--fri-danger-border);
    --button-color-outline-border: var(--fri-danger-outline-border);
    --button-color-tint-hover: var(--fri-danger-tint-hover);
    --button-color-tint-pressed: var(--fri-danger-tint-pressed);
  }

  :where(.fri-button),
  .fri-button-solid {
    --button-background: var(--button-color);
    --button-foreground: var(--button-color-foreground);
    --button-border-color: transparent;
    --button-background-hover: var(--button-color-hover);
    --button-background-pressed: var(--button-color-pressed);
  }
  .fri-button-subtle {
    --button-background: var(--button-color-secondary);
    --button-foreground: var(--button-color-secondary-foreground);
    --button-border-color: transparent;
    --button-background-hover: var(--button-color-secondary-hover);
    --button-background-pressed: var(--button-color-secondary-pressed);
  }
  .fri-button-surface {
    --button-background: var(--button-color-secondary);
    --button-foreground: var(--button-color-secondary-foreground);
    --button-border-color: var(--button-color-border);
    --button-background-hover: var(--button-color-secondary-hover);
    --button-background-pressed: var(--button-color-secondary-pressed);
  }
  .fri-button-outline {
    --button-background: transparent;
    --button-foreground: var(--button-color);
    --button-border-color: var(--button-color-outline-border);
    --button-background-hover: var(--button-color-tint-hover);
    --button-background-pressed: var(--button-color-tint-pressed);
  }
  .fri-button-ghost {
    --button-background: transparent;
    --button-foreground: var(--button-color);
    --button-border-color: transparent;
    --button-background-hover: var(--button-color-tint-hover);
    --button-background-pressed: var(--button-color-tint-pressed);
  }
  .fri-button-plain {
    --button-background: transparent;
    --button-foreground: var(--button-color);
    --button-border-color: transparent;
    --button-background-hover: transparent;
    --button-background-pressed: transparent;
  }

  :where(.fri-button) {
    --_button-n: 10;
    @apply text-label-medium;
  }
  .fri-button-xs {
    --_button-n: 7;
    @apply text-label-xsmall;
  }
  .fri-button-sm {
    --_button-n: 8;
    @apply text-label-small;
  }
  .fri-button-md {
    --_button-n: 10;
    @apply text-label-medium;
  }
  .fri-button-lg {
    --_button-n: 11;
    @apply text-label-large;
  }
  .fri-button-xl {
    --_button-n: 12;
    @apply text-label-xlarge;
  }

  .fri-button-icon-only {
    @apply w-(--button-h) px-0;
  }

  .fri-button-full-width {
    @apply w-full;
  }

  .fri-button-rounded-full {
    @apply rounded-full;
  }

  @media (hover: hover) {
    .fri-button[data-hovered],
    .fri-button:hover {
      @apply bg-(--button-background-hover);
    }
  }

  .fri-button[data-pressed],
  .fri-button:active {
    @apply bg-(--button-background-pressed);
  }

  .fri-button[data-disabled],
  .fri-button:disabled,
  .fri-button[aria-disabled="true"] {
    @apply status-disabled;
  }

  .fri-button[data-focus-visible],
  .fri-button:focus-visible {
    @apply focus-ring;
  }

  .fri-button[data-pending] {
    @apply cursor-default text-transparent;
  }

  .fri-button[data-pending] > :not([data-slot="button-spinner"]) {
    @apply invisible;
  }

  .fri-button [data-slot="button-spinner"] {
    @apply absolute inset-0 m-auto text-(--button-foreground);

    --spinner-size: var(--button-spinner-size);
  }
}
