@layer components {
  .fri-spinner {
    --_spinner-arc: 25%;
    --_spinner-thickness: 25%;
    --_spinner-track: color-mix(in oklab, currentColor 24%, transparent);
    --_spinner-image: conic-gradient(
      currentColor var(--_spinner-arc),
      var(--_spinner-track) 0
    );
    --_spinner-mask: radial-gradient(
      farthest-side,
      transparent calc(100% - var(--_spinner-thickness)),
      black 0
    );
    --spinner-size: calc(var(--fri-spacing-xsmall) * var(--_spinner-n));

    @apply inline-block size-(--spinner-size) shrink-0 animate-spin rounded-full bg-(image:--_spinner-image) mask-(--_spinner-mask) motion-reduce:animate-none;
  }

  :where(.fri-spinner),
  .fri-spinner-primary {
    @apply text-primary;
  }
  .fri-spinner-secondary {
    @apply text-secondary;
  }
  .fri-spinner-accent {
    @apply text-accent;
  }
  .fri-spinner-info {
    @apply text-info;
  }
  .fri-spinner-success {
    @apply text-success;
  }
  .fri-spinner-warning {
    @apply text-warning;
  }
  .fri-spinner-danger {
    @apply text-danger;
  }

  :where(.fri-spinner),
  .fri-spinner-md {
    --_spinner-n: 6;
  }
  .fri-spinner-xs {
    --_spinner-n: 4;
  }
  .fri-spinner-sm {
    --_spinner-n: 5;
  }
  .fri-spinner-lg {
    --_spinner-n: 8;
  }
  .fri-spinner-xl {
    --_spinner-n: 10;
  }
}
