@utility action-rhythm {
  --action-height: calc(var(--size-action) * var(--action-n, 10));
  --action-padding-x: calc(var(--action-height) / 2 - var(--size-action));
  --action-radius: calc(
    var(--radius-action) * var(--action-height) / (var(--size-action) * 10)
  );
}

@utility status-disabled {
  @apply pointer-events-none opacity-50;
  cursor: not-allowed;
}
