@theme inline {
  --color-background: var(--fri-background);
  --color-surface: var(--fri-surface);
  --color-surface-secondary: var(--fri-surface-secondary);
  --color-surface-outline-border: var(--fri-surface-outline-border);
  --color-foreground: var(--fri-foreground);
  --color-ring: var(--fri-focus);
  --color-border: var(--fri-border);
  --color-separator: var(--fri-separator);
  --color-scroll-thumb: var(--fri-scroll-thumb);
  --color-scroll-thumb-hover: var(--fri-scroll-thumb-hover);
  --color-scroll-track: var(--fri-scroll-track);
  --color-foreground-secondary: var(--fri-foreground-secondary);
  --color-foreground-tertiary: var(--fri-foreground-tertiary);
  --color-link: var(--fri-link);
  --color-primary: var(--fri-primary);
  --color-primary-foreground: var(--fri-primary-foreground);
  --color-primary-secondary: var(--fri-primary-secondary);
  --color-primary-secondary-foreground: var(--fri-primary-secondary-foreground);
  --color-primary-hover: var(--fri-primary-hover);
  --color-primary-pressed: var(--fri-primary-pressed);
  --color-primary-secondary-hover: var(--fri-primary-secondary-hover);
  --color-primary-secondary-pressed: var(--fri-primary-secondary-pressed);
  --color-primary-border: var(--fri-primary-border);
  --color-primary-outline-border: var(--fri-primary-outline-border);
  --color-primary-tint-hover: var(--fri-primary-tint-hover);
  --color-primary-tint-pressed: var(--fri-primary-tint-pressed);
  --color-secondary: var(--fri-secondary);
  --color-secondary-foreground: var(--fri-secondary-foreground);
  --color-secondary-secondary: var(--fri-secondary-secondary);
  --color-secondary-secondary-foreground: var(
    --fri-secondary-secondary-foreground
  );
  --color-secondary-hover: var(--fri-secondary-hover);
  --color-secondary-pressed: var(--fri-secondary-pressed);
  --color-secondary-secondary-hover: var(--fri-secondary-secondary-hover);
  --color-secondary-secondary-pressed: var(--fri-secondary-secondary-pressed);
  --color-secondary-border: var(--fri-secondary-border);
  --color-secondary-outline-border: var(--fri-secondary-outline-border);
  --color-secondary-tint-hover: var(--fri-secondary-tint-hover);
  --color-secondary-tint-pressed: var(--fri-secondary-tint-pressed);
  --color-accent: var(--fri-accent);
  --color-accent-foreground: var(--fri-accent-foreground);
  --color-accent-secondary: var(--fri-accent-secondary);
  --color-accent-secondary-foreground: var(--fri-accent-secondary-foreground);
  --color-accent-hover: var(--fri-accent-hover);
  --color-accent-pressed: var(--fri-accent-pressed);
  --color-accent-secondary-hover: var(--fri-accent-secondary-hover);
  --color-accent-secondary-pressed: var(--fri-accent-secondary-pressed);
  --color-accent-border: var(--fri-accent-border);
  --color-accent-outline-border: var(--fri-accent-outline-border);
  --color-accent-tint-hover: var(--fri-accent-tint-hover);
  --color-accent-tint-pressed: var(--fri-accent-tint-pressed);
  --color-info: var(--fri-info);
  --color-info-foreground: var(--fri-info-foreground);
  --color-info-secondary: var(--fri-info-secondary);
  --color-info-secondary-foreground: var(--fri-info-secondary-foreground);
  --color-info-hover: var(--fri-info-hover);
  --color-info-pressed: var(--fri-info-pressed);
  --color-info-secondary-hover: var(--fri-info-secondary-hover);
  --color-info-secondary-pressed: var(--fri-info-secondary-pressed);
  --color-info-border: var(--fri-info-border);
  --color-info-outline-border: var(--fri-info-outline-border);
  --color-info-tint-hover: var(--fri-info-tint-hover);
  --color-info-tint-pressed: var(--fri-info-tint-pressed);
  --color-success: var(--fri-success);
  --color-success-foreground: var(--fri-success-foreground);
  --color-success-secondary: var(--fri-success-secondary);
  --color-success-secondary-foreground: var(--fri-success-secondary-foreground);
  --color-success-hover: var(--fri-success-hover);
  --color-success-pressed: var(--fri-success-pressed);
  --color-success-secondary-hover: var(--fri-success-secondary-hover);
  --color-success-secondary-pressed: var(--fri-success-secondary-pressed);
  --color-success-border: var(--fri-success-border);
  --color-success-outline-border: var(--fri-success-outline-border);
  --color-success-tint-hover: var(--fri-success-tint-hover);
  --color-success-tint-pressed: var(--fri-success-tint-pressed);
  --color-warning: var(--fri-warning);
  --color-warning-foreground: var(--fri-warning-foreground);
  --color-warning-secondary: var(--fri-warning-secondary);
  --color-warning-secondary-foreground: var(--fri-warning-secondary-foreground);
  --color-warning-hover: var(--fri-warning-hover);
  --color-warning-pressed: var(--fri-warning-pressed);
  --color-warning-secondary-hover: var(--fri-warning-secondary-hover);
  --color-warning-secondary-pressed: var(--fri-warning-secondary-pressed);
  --color-warning-border: var(--fri-warning-border);
  --color-warning-outline-border: var(--fri-warning-outline-border);
  --color-warning-tint-hover: var(--fri-warning-tint-hover);
  --color-warning-tint-pressed: var(--fri-warning-tint-pressed);
  --color-danger: var(--fri-danger);
  --color-danger-foreground: var(--fri-danger-foreground);
  --color-danger-secondary: var(--fri-danger-secondary);
  --color-danger-secondary-foreground: var(--fri-danger-secondary-foreground);
  --color-danger-hover: var(--fri-danger-hover);
  --color-danger-pressed: var(--fri-danger-pressed);
  --color-danger-secondary-hover: var(--fri-danger-secondary-hover);
  --color-danger-secondary-pressed: var(--fri-danger-secondary-pressed);
  --color-danger-border: var(--fri-danger-border);
  --color-danger-outline-border: var(--fri-danger-outline-border);
  --color-danger-tint-hover: var(--fri-danger-tint-hover);
  --color-danger-tint-pressed: var(--fri-danger-tint-pressed);
  --spacing-2xsmall: var(--fri-spacing-2xsmall);
  --spacing-xsmall: var(--fri-spacing-xsmall);
  --spacing-small: var(--fri-spacing-small);
  --spacing-medium: var(--fri-spacing-medium);
  --spacing-large: var(--fri-spacing-large);
  --spacing-xlarge: var(--fri-spacing-xlarge);
  --spacing-2xlarge: var(--fri-spacing-2xlarge);
  --spacing-3xlarge: var(--fri-spacing-3xlarge);
  --spacing-4xlarge: var(--fri-spacing-4xlarge);
  --spacing-5xlarge: var(--fri-spacing-5xlarge);
  --font-sans: var(--fri-font-family-sans);
  --font-mono: var(--fri-font-family-mono);
  --radius-action: var(--fri-action-radius);
  --radius-field: var(--fri-field-radius);
  --radius-box: var(--fri-box-radius);
  --radius-2xsmall: var(--fri-radius-2xsmall);
  --radius-xsmall: var(--fri-radius-xsmall);
  --radius-small: var(--fri-radius-small);
  --radius-medium: var(--fri-radius-medium);
  --radius-large: var(--fri-radius-large);
  --radius-xlarge: var(--fri-radius-xlarge);
  --radius-2xlarge: var(--fri-radius-2xlarge);
  --text-display-2xlarge: var(--fri-display-2xlarge);
  --text-display-2xlarge--line-height: var(--fri-display-2xlarge-line-height);
  --text-display-2xlarge--font-weight: var(--fri-display-2xlarge-font-weight);
  --text-display-2xlarge--letter-spacing: var(
    --fri-display-2xlarge-letter-spacing
  );
  --text-display-xlarge: var(--fri-display-xlarge);
  --text-display-xlarge--line-height: var(--fri-display-xlarge-line-height);
  --text-display-xlarge--font-weight: var(--fri-display-xlarge-font-weight);
  --text-display-xlarge--letter-spacing: var(
    --fri-display-xlarge-letter-spacing
  );
  --text-display-large: var(--fri-display-large);
  --text-display-large--line-height: var(--fri-display-large-line-height);
  --text-display-large--font-weight: var(--fri-display-large-font-weight);
  --text-display-large--letter-spacing: var(--fri-display-large-letter-spacing);
  --text-display-medium: var(--fri-display-medium);
  --text-display-medium--line-height: var(--fri-display-medium-line-height);
  --text-display-medium--font-weight: var(--fri-display-medium-font-weight);
  --text-display-medium--letter-spacing: var(
    --fri-display-medium-letter-spacing
  );
  --text-display-small: var(--fri-display-small);
  --text-display-small--line-height: var(--fri-display-small-line-height);
  --text-display-small--font-weight: var(--fri-display-small-font-weight);
  --text-display-small--letter-spacing: var(--fri-display-small-letter-spacing);
  --text-body-large: var(--fri-body-large);
  --text-body-large--line-height: var(--fri-body-large-line-height);
  --text-body-large--font-weight: var(--fri-body-large-font-weight);
  --text-body-large--letter-spacing: var(--fri-body-large-letter-spacing);
  --text-body-large-strong: var(--fri-body-large-strong);
  --text-body-large-strong--line-height: var(
    --fri-body-large-strong-line-height
  );
  --text-body-large-strong--font-weight: var(
    --fri-body-large-strong-font-weight
  );
  --text-body-large-strong--letter-spacing: var(
    --fri-body-large-strong-letter-spacing
  );
  --text-body-medium: var(--fri-body-medium);
  --text-body-medium--line-height: var(--fri-body-medium-line-height);
  --text-body-medium--font-weight: var(--fri-body-medium-font-weight);
  --text-body-medium--letter-spacing: var(--fri-body-medium-letter-spacing);
  --text-body-medium-strong: var(--fri-body-medium-strong);
  --text-body-medium-strong--line-height: var(
    --fri-body-medium-strong-line-height
  );
  --text-body-medium-strong--font-weight: var(
    --fri-body-medium-strong-font-weight
  );
  --text-body-medium-strong--letter-spacing: var(
    --fri-body-medium-strong-letter-spacing
  );
  --text-body-small: var(--fri-body-small);
  --text-body-small--line-height: var(--fri-body-small-line-height);
  --text-body-small--font-weight: var(--fri-body-small-font-weight);
  --text-body-small--letter-spacing: var(--fri-body-small-letter-spacing);
  --text-body-small-strong: var(--fri-body-small-strong);
  --text-body-small-strong--line-height: var(
    --fri-body-small-strong-line-height
  );
  --text-body-small-strong--font-weight: var(
    --fri-body-small-strong-font-weight
  );
  --text-body-small-strong--letter-spacing: var(
    --fri-body-small-strong-letter-spacing
  );
  --text-body-xsmall: var(--fri-body-xsmall);
  --text-body-xsmall--line-height: var(--fri-body-xsmall-line-height);
  --text-body-xsmall--font-weight: var(--fri-body-xsmall-font-weight);
  --text-body-xsmall--letter-spacing: var(--fri-body-xsmall-letter-spacing);
  --text-body-xsmall-strong: var(--fri-body-xsmall-strong);
  --text-body-xsmall-strong--line-height: var(
    --fri-body-xsmall-strong-line-height
  );
  --text-body-xsmall-strong--font-weight: var(
    --fri-body-xsmall-strong-font-weight
  );
  --text-body-xsmall-strong--letter-spacing: var(
    --fri-body-xsmall-strong-letter-spacing
  );
  --text-label-xlarge: var(--fri-label-xlarge);
  --text-label-xlarge--line-height: var(--fri-label-xlarge-line-height);
  --text-label-xlarge--font-weight: var(--fri-label-xlarge-font-weight);
  --text-label-xlarge--letter-spacing: var(--fri-label-xlarge-letter-spacing);
  --text-label-large: var(--fri-label-large);
  --text-label-large--line-height: var(--fri-label-large-line-height);
  --text-label-large--font-weight: var(--fri-label-large-font-weight);
  --text-label-large--letter-spacing: var(--fri-label-large-letter-spacing);
  --text-label-medium: var(--fri-label-medium);
  --text-label-medium--line-height: var(--fri-label-medium-line-height);
  --text-label-medium--font-weight: var(--fri-label-medium-font-weight);
  --text-label-medium--letter-spacing: var(--fri-label-medium-letter-spacing);
  --text-label-small: var(--fri-label-small);
  --text-label-small--line-height: var(--fri-label-small-line-height);
  --text-label-small--font-weight: var(--fri-label-small-font-weight);
  --text-label-small--letter-spacing: var(--fri-label-small-letter-spacing);
  --text-label-xsmall: var(--fri-label-xsmall);
  --text-label-xsmall--line-height: var(--fri-label-xsmall-line-height);
  --text-label-xsmall--font-weight: var(--fri-label-xsmall-font-weight);
  --text-label-xsmall--letter-spacing: var(--fri-label-xsmall-letter-spacing);
  --text-caption: var(--fri-caption);
  --text-caption--line-height: var(--fri-caption-line-height);
  --text-caption--font-weight: var(--fri-caption-font-weight);
  --text-caption--letter-spacing: var(--fri-caption-letter-spacing);
  --text-caption-strong: var(--fri-caption-strong);
  --text-caption-strong--line-height: var(--fri-caption-strong-line-height);
  --text-caption-strong--font-weight: var(--fri-caption-strong-font-weight);
  --text-caption-strong--letter-spacing: var(
    --fri-caption-strong-letter-spacing
  );
  --text-code: var(--fri-code);
  --text-code--line-height: var(--fri-code-line-height);
  --text-code--font-weight: var(--fri-code-font-weight);
  --text-code--letter-spacing: var(--fri-code-letter-spacing);
}
