@layer components {
  .fri-scroll-area {
    @apply relative overflow-hidden;

    --scroll-area-n-xs: 1.5;
    --scroll-area-n-sm: 2;
    --scroll-area-n-md: 2.5;
    --scroll-area-n-lg: 3;
    --scroll-area-n: var(--scroll-area-n-md);
    --scroll-area-thickness: calc(var(--size-box) * var(--scroll-area-n));
    --scroll-area-thumb-opacity: 40%;
    --scroll-area-thumb-opacity-hover: 65%;
    --scroll-area-thumb-color: color-mix(
      in srgb,
      var(--neutral) var(--scroll-area-thumb-opacity),
      transparent
    );
    --scroll-area-thumb-color-hover: color-mix(
      in srgb,
      var(--neutral) var(--scroll-area-thumb-opacity-hover),
      transparent
    );
    --scroll-area-track-color: transparent;
  }

  .fri-scroll-area-xs {
    --scroll-area-n: var(--scroll-area-n-xs);
  }
  .fri-scroll-area-sm {
    --scroll-area-n: var(--scroll-area-n-sm);
  }
  .fri-scroll-area-md {
    --scroll-area-n: var(--scroll-area-n-md);
  }
  .fri-scroll-area-lg {
    --scroll-area-n: var(--scroll-area-n-lg);
  }

  .fri-scroll-area-viewport {
    @apply h-full w-full rounded-[inherit];
  }
  .fri-scroll-area:not(.fri-scroll-area-hide-scrollbar):has(
      .fri-scroll-area-scrollbar[data-orientation="vertical"]
    )
    .fri-scroll-area-viewport {
    @apply pe-(--scroll-area-thickness);
  }
  .fri-scroll-area:not(.fri-scroll-area-hide-scrollbar):has(
      .fri-scroll-area-scrollbar[data-orientation="horizontal"]
    )
    .fri-scroll-area-viewport {
    @apply pb-(--scroll-area-thickness);
  }

  .fri-scroll-area-content {
    @apply min-w-fit;
  }

  .fri-scroll-area-scrollbar {
    @apply flex touch-none bg-(--scroll-area-track-color) p-px opacity-0 transition-[opacity,background-color] duration-100 ease-out select-none data-[state=visible]:opacity-100 motion-reduce:transition-none;
  }
  .fri-scroll-area-scrollbar[data-orientation="vertical"] {
    @apply w-(--scroll-area-thickness);
  }
  .fri-scroll-area-scrollbar[data-orientation="horizontal"] {
    @apply h-(--scroll-area-thickness) flex-col;
  }

  .fri-scroll-area-thumb {
    @apply relative flex-1 rounded-full bg-(--scroll-area-thumb-color) transition-colors duration-100 ease-out;
  }
  .fri-scroll-area-thumb:hover {
    @apply bg-(--scroll-area-thumb-color-hover);
  }

  .fri-scroll-area-corner {
    @apply bg-transparent;
  }

  .fri-scroll-area-hide-scrollbar .fri-scroll-area-scrollbar {
    @apply hidden;
  }
}
