@layer components {
  .fri-scroll-area {
    @apply relative overflow-hidden;

    --scroll-area-n: 2.5;
    --scroll-area-thickness: calc(var(--size-box) * var(--scroll-area-n));
    --scroll-area-thumb-color: var(--muted-foreground);
    --scroll-area-thumb-color-hover: var(--foreground);
    --scroll-area-track-color: transparent;
  }

  .fri-scroll-area-xs {
    --scroll-area-n: 1.5;
  }
  .fri-scroll-area-sm {
    --scroll-area-n: 2;
  }
  .fri-scroll-area-md {
    --scroll-area-n: 2.5;
  }
  .fri-scroll-area-lg {
    --scroll-area-n: 3.5;
  }

  .fri-scroll-area-viewport {
    @apply h-full w-full rounded-[inherit];
  }

  .fri-scroll-area-content {
    min-width: fit-content;
  }

  .fri-scroll-area-scrollbar {
    @apply flex touch-none p-px transition-colors select-none;
    background: var(--scroll-area-track-color);
  }
  .fri-scroll-area-scrollbar[data-orientation="vertical"] {
    @apply h-full;
    width: var(--scroll-area-thickness);
  }
  .fri-scroll-area-scrollbar[data-orientation="horizontal"] {
    @apply flex-col;
    height: var(--scroll-area-thickness);
  }

  .fri-scroll-area-thumb {
    @apply relative flex-1 rounded-full transition-colors duration-100 ease-out;
    background: var(--scroll-area-thumb-color);
  }
  .fri-scroll-area-thumb:hover {
    background: var(--scroll-area-thumb-color-hover);
  }

  .fri-scroll-area-corner {
    background: transparent;
  }
}
