@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentColor);
  }

  html {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-sans);
  }

  ::selection {
    background-color: color-mix(
      in oklab,
      var(--color-primary) 30%,
      transparent
    );
  }
}
